@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&display=swap");

body {
  font-family: "Montserrat";
  font-weight: bold;
  padding: 20px 60px;
}
a{
  color: black;
  text-decoration: none;
}
